.commentBox {
    margin: 10px auto;
    background-color: gold;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px black;
    overflow:hidden;

}

.creatorBox {
    background-color: goldenrod;
    font-size: 24px;

}

.timeStampBox {
    background-color: goldenrod;
    height: 40%
}